In [2]:
var = "Sachin Khote"

In [3]:
var2 = 'hi country , how you all doing ?'

In [4]:
type(var)
type(var2)

str

In [5]:
chr(97)         # ascii value of a is 97

'a'

In [6]:
chr(97).upper()

'A'

In [7]:
print(var)
print(var[5])

Sachin Khote
n

In [8]:
var[-3]   # negative indexing from right to left

'o'

In [5]:
name = "my name is " ,input() ,"."

In [10]:
print(name)

('my name is ', 'sachin', '.')

In [11]:
nm= input("Enter your name : ")
print("Hello " + nm + " , have a nice day!")

Hello  , have a nice day!

In [12]:
var[0:6]  # slicing from index 0 to 5 (6-1)

'Sachin'

In [13]:
var[0:12:2]  # slicing with step size 2

'Sci ht'

In [14]:
var[-1:-6] # slicing from right to left (negative indexing)
# does not work as the default step size is +1

''

In [6]:
# To make it work, we need to provide a negative step size
var[-1:-6:-1]

'etohK'

In [16]:
var[5:0:-1] # slicing in reverse order

'nihca'

In [17]:
var[5: :-1] # slicing in reverse order with step size 1

'nihcaS'

In [18]:
var[: : -1]  # complete string in reverse order

'etohK nihcaS'

### Length

In [21]:
len_name=len(var)
print(len_name)

12

In [25]:
type(len_name)

int

### Upper, Lower, Title case and Capitalize

In [ ]:
name_upper=var.upper()
print(name_upper)       # converting to upper case

name_lower=var.lower()
print(name_lower)       # converting to lower case

name_title=var.title()
print(name_title)       # converting to title case

name_cap=var.capitalize()
print(name_cap)     # converting to capitalized case

SACHIN KHOTE
sachin khote
Sachin Khote
Sachin khote

### Concatenation

In [3]:
str1="Hello"
str2="World"
str3=str1 + " " + str2
print(str3)     # concatenation of two strings

Hello World

In [1]:
age = 25
print("My age is " + str(age))   # concatenation of string and integer after converting integer to string

My age is 25

In [32]:
pattern= "+-"
print(pattern,pattern, pattern )

+- +- +-

### Repeating

In [33]:
pattern = "+-"
print(pattern * 10)   # printing pattern 10 times

+-+-+-+-+-+-+-+-+-+-

## Comparing strings

In [12]:
print(str1, str2)

Hello World

In [4]:
print(str1==str2)   #false
print(str1!=str2)   #true
print(str1<str2)    #true
print(str1>str2)    #false
print(str1<=str2)   #true
print(str1>=str2)   #false

False
True
True
False
True
False

### Replace

In [14]:
og= "Hello World"
new = og.replace("World","everyone")
print(new)      # replacing World with Everyone

Hello everyone

In [15]:
new2= og.replace("o","a")
print(new2)     # replacing all occurrences of o with a

Hella Warld

### Split

In [17]:
sentence = "i am learning python programming"
words = sentence.split() # by default split() splits on whitespace
print(words)

['i', 'am', 'learning', 'python', 'programming']

In [20]:
hobbies = "Reading, Travelling, Swimming, Coding"
h_list = hobbies.split(", ")  # splitting on comma and space
print(h_list)                 # splitting the string into list of strings

['Reading', 'Travelling', 'Swimming', 'Coding']

In [25]:
sample ="sachinkhote"
print(sample.split("-"))   # it wont find - in the string so it will return the whole string as single element in list

['sachinkhote']

In [47]:
len(hobbies)

37

In [48]:
len(h_list)      # length of the list

4

In [21]:
full_name = "my name is babu shona"
print(full_name.split(" "))

['my', 'name', 'is', 'babu', 'shona']

### Format

In [22]:
greeting= "Hi, {}"
name= input("Enter your name : ")

In [51]:
print(greeting.format(name))   # using format to print name in greeting

Hi, sachin

In [26]:
info = "{} is {} years old and lives in {}"
name = input("Enter name : ")
age = input("Enter age : ")
city = input("Enter city : ")
print(info.format(name,age,city))   # using format to print name, age and city in info

sachin is 22 years old and lives in nashik

### fString

In [28]:
personal_info = f"{name} is {age} years old and lives in {city}"
print(personal_info)

sachin is 22 years old and lives in nashik

### Strip

In [29]:
text= "     sachin       "
text.strip()    # removing leading and trailing spaces

'sachin'

In [30]:
text2= "----- sachin-----"
text2.strip("-") # removing leading and trailing hyphens

' sachin'

In [32]:
text3 = "--sa--ch--in--"
text3.strip("-")  # doesnt remove hyphens in between

'sa--ch--in'

### Index and Find

In [34]:
x= "hello sachin bhai, sachin is a good boy"

In [37]:
print(x.index("sachin"))   #gives first occurance 
print(x.find("sachin"))

6
6

In [39]:
print(x.index("khote"))    # will raise error as khote is not present in the string
print(x.find("khote"))   # returns -1 as khote is not present in the string

ValueError: substring not found

### startswith()

In [44]:
name = "sachin khote"

In [3]:
name.startswith("sachin")

True

In [6]:
name.startswith("chin", 2)  # starting from index 2, check if string starts with "chin"

True

In [7]:
name.endswith("khote")

True

### count

In [40]:
sentence = " this is a test string. "
sentence.count("is")

2

In [42]:
sentence.count("is", 5, 20)   # count of t from index 5 to 19

1

### isalpha() ,isalnum() , isupper(), islower(), isdigit()

In [45]:
name.isalpha()   # checks if all characters are alphabets (no spaces, no numbers, no special characters)

False

In [46]:
name.isalnum() # checks if all characters are alphanumeric (no spaces, no special characters)

False

In [47]:
name.isupper()  # checks if all characters are uppercase

False

In [48]:
name.islower()  # checks if all characters are lowercase

True

In [49]:
name.isdigit()  # checks if all characters are digits

False

### swapcase

In [50]:
text = "Hi Guys I am Back"
text.swapcase()   # swaps the case of each character

'hI gUYS i AM bACK'