### SETS

In [1]:
a= {1,2,3}
a

{1, 2, 3}

In [2]:
a={1,2,3,3,2,1,4}
a           # removes duplicates automatically

{1, 2, 3, 4}

In [3]:
b= {0, 1 ,2,True,False}
b               # true= 1, false=0

{0, 1, 2}

In [4]:
b= {True, False, 0 , 1 , 3}
b               # works left to right , whenever duplicate occur after first occurance , it removes

{False, True, 3}

#### set() constructor

In [5]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_string = "hello"

listSet = set(my_list)
tupleSet = set(my_tuple)
stringSet = set(my_string)

listSet, tupleSet, stringSet

({1, 2, 3, 4, 5}, {1, 2, 3, 4, 5}, {'e', 'h', 'l', 'o'})

In [ ]:
nested = {1, 2 , (3, 4)}   # valid
#nested2 = {1, 2 ,{3, 4}}  # invalid , set is mutable , so cannot be added to another set
#nested3 = {1, 2 , [3, 4]}  # invalid , list is mutable , so cannot be added to another set

In [7]:
# accessing elements in set
s = {1, 2, 3, 4, 5}
print(2 in s)   # True

#print(s[1])  # invalid , set is unordered , so cannot access elements using index

True

### len(), min(), max(), sum()

In [8]:
set1 = {1 , 2 , 3 , "sachin"}
print(len(set1))   

# print(min(set1))   # invalid , cannot compare int and str

4

In [9]:
set2 = {5, 3, 8, 6, 7}
print(min(set2))   # 3
print(max(set2))   # 8
print(sum(set2))   # 29

3
8
29

### Add items to set

In [10]:
set4 = {1, 2, 3}
set4.add(4)
print(set4)

set4.update({5,6})
set4.update([7,8,9])
set4.update((10,11))
print(set4)             # we can use either set , list or tuple in update method

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Remove Items

In [11]:
set5 = {1, 2, 3, 4, 5, 6}
set5.remove(3)
print(set5)             # removes 3 , if 3 not present , raises error

{1, 2, 4, 5, 6}

In [12]:
set5 ={1, 2, 3, 4, 5, 6}
set5.discard(4)
print(set5)             # removes 4 , if 4 not present , does not raise error
set5.discard(10)

{1, 2, 3, 5, 6}

In [13]:
set5 = {1, 2, 3, 4, 5, 6}
set5.pop()
print(set5)             # removes and returns an arbitrary element(any element can be removed) , raises error if set is empty

{2, 3, 4, 5, 6}

In [14]:
set5 = {1, 2, 3, 4, 5}
set5.clear()
print(set5)             # removes all elements from set , makes it empty set

set()

In [ ]:
set5 = {1, 2, 3, 4, 5}
del set5
#print(set5)             # raises error , as set5 is deleted

### Joins in sets

In [16]:
# joining two sets using UNION
setA = {1, 2, 3}
setB = {3, 4, 5}
setC = {5, 6, 7}
union_set = setA | setB             # using | operator for union
union_set1 = setB.union(setC)       # using union() method for union
print(union_set)   # {1, 2, 3, 4, 5}
print(union_set1)  # {3, 4, 5, 6, 7}

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [17]:
# joining using INTERSECTION
inter_set = setA & setB              # using & operator for intersection
inter_set2 = setB.intersection(setC)    # using intersection() method for intersection
print(inter_set)    # {3}
print(inter_set2)   # {5}

{3}
{5}

In [18]:
# Difference of sets
diff_set = setA - setB               # using - operator for difference
diff_set2 = setB.difference(setC)    # using difference() method for difference

print(diff_set)    # {1, 2}
print(diff_set2)   # {3, 4}

{1, 2}
{3, 4}

In [19]:
# symmertric difference
sym_diff = setA ^ setB                          # using ^ operator for symmetric difference
sym_diff2 = setB.symmetric_difference(setC)     # using symmetric_difference() method for symmetric difference
print(sym_diff)    # {1, 2, 4, 5}
print(sym_diff2)   # {3, 4, 6, 7}

{1, 2, 4, 5}
{3, 4, 6, 7}

##           Dictionaries

In [20]:
my_dict ={'name': 'sachin', 'age': 25  }
my_dict2 = {1: 'one', 2: 'two'}
print(my_dict)
print(my_dict2)

{'name': 'sachin', 'age': 25}
{1: 'one', 2: 'two'}

In [ ]:
# how to create empty set
empty_set = set()       # not by {}, this will create empty dictionary

empty_dict = {}

In [22]:
my_dict = {'name': 'sachin', 'age': 25, 'city': 'Mumbai','name': 'rahul'}
print(my_dict)          #  key 'name' is duplicated , so last value is considered(not first)

{'name': 'rahul', 'age': 25, 'city': 'Mumbai'}

In [23]:
# duplicate keys are not allowed in dictionary, but duplicate values are allowed
marks_dict = {'sachin': 95, 'rahul': 85, 'rohit': 95}
marks_dict

{'sachin': 95, 'rahul': 85, 'rohit': 95}

#### dict()

In [24]:
# dict1 = {'name'='sachin'}     # = not allowed for dictionary
    
dict1 = dict(name= 'sachin', age= 20,city='ahmednagar')
dict1

{'name': 'sachin', 'age': 20, 'city': 'ahmednagar'}

In [25]:
dict_list =[['a',1],['b',22],['c',55]]
dict_from_list = dict(dict_list)
print(dict_from_list)           # convert list of lists to dictionary

{'a': 1, 'b': 22, 'c': 55}

In [26]:
type(dict1)

dict

In [ ]:
# nested dictionary
nested_dict = {
    'student1': {'name': 'sachin', 'age': 25},
    'student2': {'name': 'rahul', 'age': 23}
}

### Accessing Dictionary Elements

In [28]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict['b'])        # accessing value using key

2

In [29]:
nested_dict

{'student1': {'name': 'sachin', 'age': 25},
 'student2': {'name': 'rahul', 'age': 23}}

In [30]:
nested_dict['student1']['name']   # accessing nested dictionary value

'sachin'

### get() method

In [31]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict.get('b'))        # accessing value using get method

2

In [32]:
nested_dict

{'student1': {'name': 'sachin', 'age': 25},
 'student2': {'name': 'rahul', 'age': 23}}

In [33]:
print(nested_dict.get('student2').get('name'))

rahul

### keys(), values(), items()

In [34]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
print(my_dict.keys())       # accessing all keys
print(my_dict.values())     # accessing all values
print(my_dict.items())      # accessing all key-value pairs

dict_keys(['a', 'b', 'c', 'd'])
dict_values([1, 2, 3, 4])
dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

### setdefault()
#### used for setting up any default value for desired key

In [35]:
my_dict = {'stud1':{'name': 'sachin', 'class': '10th' },
            'stud2':{'name': 'rahul', 'class': '10th','age':15}}
my_dict['stud1'].setdefault('age', 16)  # set default age for stud1
my_dict['stud2'].setdefault('age', 16)  # set default age for stud2 (already has age, so unchanged)
print(my_dict)

# in this case we have to manually set the dafault for each student

{'stud1': {'name': 'sachin', 'class': '10th', 'age': 16}, 'stud2': {'name': 'rahul', 'class': '10th', 'age': 15}}

In [36]:
# using loop to set default age for all students
my_dict = {'stud1':{'name': 'sachin', 'class': '10th' }, 
            'stud2':{'name': 'rahul', 'class': '10th','age':15},
            'stud3':{'name': 'virat', 'class': '9th'},
            'stud4':{'name': 'dhoni', 'class': '11th'}}

for student in my_dict:
    my_dict[student].setdefault('age', 16)  # set default age 16 for all students who don't have age

print(my_dict)

{'stud1': {'name': 'sachin', 'class': '10th', 'age': 16}, 'stud2': {'name': 'rahul', 'class': '10th', 'age': 15}, 'stud3': {'name': 'virat', 'class': '9th', 'age': 16}, 'stud4': {'name': 'dhoni', 'class': '11th', 'age': 16}}

In [37]:
my_dict = {'name':'sachin', 'class': '10th', }
my_dict.setdefault('age')           # if 'age' key exists, returns its value, else sets it to None
print(my_dict)

{'name': 'sachin', 'class': '10th', 'age': None}

### min(), max() and sum()

In [38]:
marks= {'sachin': 95, 'rahul': 85, 'rohit': 90}
print(min(marks))           # by default min() considers keys of dictionary

print(min(marks.values()))
print(max(marks.values()))

print(min(marks.keys()))
print(max(marks.keys()))

print(sum(marks.values()))

rahul
85
95
rahul
sachin
270

### add and Update

In [39]:
my_dict = {'name':'sachin', 'age': 25, 'city': 'Mumbai'}
my_dict['age']= 22      # updating value of existing key
print(my_dict)

my_dict['gender'] = 'male'  # adding new key-value pair
print(my_dict)

my_dict.update({'age': 23, 'city': 'Pune', 'profession': 'Cricketer'})  # updating multiple key-value pairs
print(my_dict)

{'name': 'sachin', 'age': 22, 'city': 'Mumbai'}
{'name': 'sachin', 'age': 22, 'city': 'Mumbai', 'gender': 'male'}
{'name': 'sachin', 'age': 23, 'city': 'Pune', 'gender': 'male', 'profession': 'Cricketer'}

### zip()

In [40]:
l1 = ['a', 'b', 'c']
l2 =[10,20,30]
zipped = zip(l1,l2)
print(zipped)                    # prints zip object address

#print(list(zipped))            # converting zip object to list of tuples

print(dict(zipped))             # converting zip object to dictionary

print(tuple(zip(l1,l2)))

<zip object at 0x000002AF7BE7A040>
{'a': 10, 'b': 20, 'c': 30}
(('a', 10), ('b', 20), ('c', 30))

### Remove items from dictionary ( del, pop(), popitem(), clear() )

In [41]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['b']
print(my_dict)

{'a': 1, 'c': 3}

In [42]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.pop('b')
print(my_dict)

{'a': 1, 'c': 3}

In [43]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.popitem()       # removes last inserted key-value pair
print(my_dict)

{'a': 1, 'b': 2}

In [44]:
my_dict ={'a':1, 'b':2, 'c':3}
my_dict.clear()         # removes all key-value pairs and makes it empty dictionary
my_dict

{}

### copying a dictionary

In [45]:
og_dict = {'name':'sachin', 'age': 25, 'city': 'Mumbai'}
new_dict = og_dict.copy()   # creating a shallow copy of original dictionary
new_dict

{'name': 'sachin', 'age': 25, 'city': 'Mumbai'}

In [46]:
og_dict = {'name':'sachin', 'age': 25, 'city': 'Mumbai'}
new_dict = og_dict          # assigning original dictionary to new dictionary

new_dict

{'name': 'sachin', 'age': 25, 'city': 'Mumbai'}

In [47]:
og_dict = {'name':'sachin', 'age': 25, 'city': 'Mumbai'}
new_dict = dict(og_dict)           # creating a new dictionary using dict() constructor
new_dict

{'name': 'sachin', 'age': 25, 'city': 'Mumbai'}

In [48]:
list = ['a', 'b', 'c']
new_dict = dict.fromkeys(list,)     # creating a new dictionary with keys from list and values as None by default
new_dict

{'a': None, 'b': None, 'c': None}

In [49]:
str = "sachin"
new_dict = dict.fromkeys(str,0)  # creating a new dictionary with characters of string as keys and 0 as values
new_dict

{'s': 0, 'a': 0, 'c': 0, 'h': 0, 'i': 0, 'n': 0}

In [50]:
# Merging two dictionaries representing sales data from two stores
store1_sales = {"Laptop": 15, "Smartphone": 30, "Tablet": 10, "Headphones": 20}
store2_sales = {"Smartphone": 50, "Tablet": 40, "Camera": 25, "Headphones": 30}

# Write your code here
for product, sales in store2_sales.items():
    if product in store1_sales:
        store1_sales[product] +=sales
    else:
        store1_sales[product] =sales
print("Merged Sales Data:",store1_sales)

Merged Sales Data: {'Laptop': 15, 'Smartphone': 80, 'Tablet': 50, 'Headphones': 50, 'Camera': 25}

In [51]:
print("Max Product:", max(store1_sales, key=store1_sales.get),'with Total Sales:',max(store1_sales.values()))

Max Product: Smartphone with Total Sales: 80

In [53]:
# create a sorted list that contains each key repeated according to its frequency.
freq_dict = {33: 2, 91: 4, 5: 1, 20: 3, 4: 0}
result= []
for k1, v1 in freq_dict.items():
    result.extend([k1] * v1)
    result.sort()
print(result)

[5, 20, 20, 20, 33, 33, 91, 91, 91, 91]