In [1]:
names= ['sachin', 'dhoni', 'kohli', 'rohit']

In [2]:
type(names)

list

In [3]:
name = "sachin shrimant khote"

In [4]:
list_of_characters = list(name)
print(list_of_characters)

['s', 'a', 'c', 'h', 'i', 'n', ' ', 's', 'h', 'r', 'i', 'm', 'a', 'n', 't', ' ', 'k', 'h', 'o', 't', 'e']

In [5]:
nested_list = [1, 2, 3, ['a', 'b', 'c'], [4, 5, 6]]

In [6]:
names[1]

'dhoni'

In [7]:
nested_list[3][1]

'b'

In [8]:
names[1][:3]

'dho'

### min() , max() and sum()

In [9]:
numbers = [2, 5,4,8,1,6,3,7]
min(numbers)

1

In [10]:
max(numbers)

8

In [11]:
sum(numbers)

36

In [12]:
numbers[1]= 3 # mutability

In [13]:
numbers

[2, 3, 4, 8, 1, 6, 3, 7]

In [14]:
numbers*3

[2, 3, 4, 8, 1, 6, 3, 7, 2, 3, 4, 8, 1, 6, 3, 7, 2, 3, 4, 8, 1, 6, 3, 7]

In [15]:
numbers.sort()
print(numbers)

[1, 2, 3, 3, 4, 6, 7, 8]

In [16]:
numbers.sort(reverse=True)
print(numbers)

[8, 7, 6, 4, 3, 3, 2, 1]

In [17]:
names[2] = "virat"  # change of item
names

['sachin', 'dhoni', 'virat', 'rohit']

In [18]:
names[1:3] = ['jadeja', 'bumrah']  # changing range of items
names

['sachin', 'jadeja', 'bumrah', 'rohit']

### add list items

In [19]:
# 1. append()
names.append('pant')    # adding item at last
print(names)

# 2. insert()
names.insert(2, 'rahul')  # adding item at specific position    
print(names)

# 3. extend()
names2 = ['hardik', 'ravindra']
names.extend(names2)            # adding multiple items at last by another list
names.extend(['ishant', 'shami'])  # adding multiple items at last
print(names)

['sachin', 'jadeja', 'bumrah', 'rohit', 'pant']
['sachin', 'jadeja', 'rahul', 'bumrah', 'rohit', 'pant']
['sachin', 'jadeja', 'rahul', 'bumrah', 'rohit', 'pant', 'hardik', 'ravindra', 'ishant', 'shami']

In [20]:
# comaprison
l1= [1, 2, 3]
l2 =['1', '2', '3']

print(l1==l2)   # False 
print(l1!=l2)  # True
# print(l1<l2) raise error coz string and int cannot be compared

False
True

In [21]:
# is operator
ll1, ll2= [1, 2, 3] , [1, 2, 3]
print(ll1 is ll2)  # False, coz both have different memory locations

a1 = 5
a2 = 5
print(a1 is a2)   # True, coz both have same memory locations

# so whenever a list is created, a new memory location is assigned to it even if the contents are same

False
True

### Remove List items

In [22]:
#1 remove() - removes first matching item
names.remove('rahul')
print(names)

#2 pop() - removes item at specific index
names.pop(3)
print(names)

#3 clear() - removes all items ,but empty list is present
l2.clear()
print(l2)

#4 del

['sachin', 'jadeja', 'bumrah', 'rohit', 'pant', 'hardik', 'ravindra', 'ishant', 'shami']
['sachin', 'jadeja', 'bumrah', 'pant', 'hardik', 'ravindra', 'ishant', 'shami']
[]

In [23]:
# joining lists using join()
words = ['Hello', 'world', 'from', 'Python']
sentence = ' '.join(words)
print(sentence) 

sentence2 = '-'.join(words)
print(sentence2)

Hello world from Python
Hello-world-from-Python

In [24]:
# counting occurrences of an item
nums = [1, 2, 3, 1, 4, 1, 5, 2]
count_1 = nums.count(1)
print(f"Number 1 occurs {count_1} times in the list.")

Number 1 occurs 3 times in the list.

In [25]:
# copying List 
#1 using copy() method
original_list = [1, 2, 3, 4, 5]
copied_list = original_list.copy()
print("Original List:", original_list)
print("Copied List:", copied_list)

#2 using slicing
sliced_copied_list = original_list[:]
print("Sliced Copied List:", sliced_copied_list)

#3 using list() constructor
constructor_copied_list = list(original_list)
print("Constructor Copied List:", constructor_copied_list)

Original List: [1, 2, 3, 4, 5]
Copied List: [1, 2, 3, 4, 5]
Sliced Copied List: [1, 2, 3, 4, 5]
Constructor Copied List: [1, 2, 3, 4, 5]

In [26]:
my_list = ['sun', 'moon', 'stars', 'comet']
print(my_list.index('stars'))  # returns the index of 'stars' which is 2
my_list.reverse()
print(my_list)

2
['comet', 'stars', 'moon', 'sun']

### Tuples

In [27]:
tuple1 = (1, 2, 3, 4, 5)
type(tuple1)

tuple

In [28]:
tuple2 =1, 2 , 3 ,4
type(tuple2)

tuple

In [29]:
tuple3 = tuple([1, 2, 3, 4])    # converting list to tuple
type(tuple3)

tuple

In [30]:
string1 = "sachin" 
tuple4 = tuple(string1)   # converting string to tuple
print(tuple4)
type(tuple4)

('s', 'a', 'c', 'h', 'i', 'n')

tuple

In [31]:
tuple5 = (1)
type(tuple5)        # tuple with single element should have comma

int

In [32]:
tuple5 = ("sachin")
type(tuple5)

str

In [33]:
tuple6 = (1,)
print(tuple6)
type(tuple6)

(1,)

tuple

In [34]:
tuple7 = (1,2,(3,4), 'sachin',(6,7))
print(tuple7)
print(tuple7[2])
print(tuple7[2][1])
print(tuple7[3][0:4])

(1, 2, (3, 4), 'sachin', (6, 7))
(3, 4)
4
sach

### Length, Min, Max, Sum

In [35]:
tp = (1 , 2 ,(3,4),5 , 6)
length = len(tp)
print("Length = ",length)

tp2 = (10, 20, 30, 40)
Mini = min(tp2)
print("Minimum = ",Mini)        #min max can only be used integers or floats

maxi = max(tp2)
print("Maximum = ",maxi)

sum1 = sum(tp2)
print("Sum = ",sum1)

Length =  5
Minimum =  10
Maximum =  40
Sum =  100

In [36]:
# chnaging tuple items
tp3 = ('apple', 'banana', 'cherry')
y = list(tp3)
y.append('orange')
tp3 = tuple(y)
print(tp3)

# we convert tuple to list, change the list and convert it back to tuple

('apple', 'banana', 'cherry', 'orange')

In [37]:
# adding tuples
tp4 = ('kiwi', 'guava')
tp3 += tp4
print(tp3)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'guava')

In [38]:
# tuples are immutable , but list within tuple can be changed
tp5 = (1, 2, [3, 4], 5)
tp5[2][0] = 30
print(tp5)

(1, 2, [30, 4], 5)

In [39]:
tp3

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'guava')

In [ ]:
y=list(tp3)
y.remove('banana')
print(y)            # prints converted list
tp3 = tuple(y)
print(tp3)          # prints tuple after conversion

['apple', 'cherry', 'orange', 'kiwi', 'guava']
('apple', 'cherry', 'orange', 'kiwi', 'guava')

In [43]:
# tuple unpacking 
my_tp = (1 ,5, 6)
a,b,c= my_tp
print(a)
print(b)
print(c)

1
5
6

In [44]:
my_tp = (1 ,5, 6, 7 ,9, 4)
a, *b, c = my_tp
print(a)    # prints first item
print(b)    # prints middle items as list
print(c)    # prints last item

1
[5, 6, 7, 9]
4

In [51]:
# take two 3d coordinates and perform dot product
coord1 = list(map(int, input().split(' ')))     # read space separated integers
coord2 = list(map(int, input().split()))        # by default split() splits input by space    
print(coord1)
print(coord2)
dot_prod = coord1[0]*coord2[0] + coord1[1]*coord2[1] + coord1[2]*coord2[2]
print("Dot Product:", dot_prod)

[2, 3, 4]
[4, 5, 1]
Dot Product: 27