In [1]:
print("hello world")

hello world

In [1]:
print("mango","banana","grapes")
print("mango","banana","grapes",sep=",")

mango banana grapes
mango,banana,grapes

In [3]:
print("thesee are my fruits", end=": \n")

thesee are my fruits:

In [10]:
print("these are my fruits", end=" : ")
print("mango","banana","grapes",sep=", " , end=". \n")
print("I love to eat fruits")

these are my fruits : mango, banana, grapes.
I love to eat fruits

In [3]:
a= input("Enter a number: ")

In [4]:
print(a)

5

In [5]:
input()

'hi guys welcome to my vlog'

In [6]:
# This is a sample Python comment

In [11]:
#indentation
x=5
if x>3:
    print("x is greater than 3")

x is greater than 3

In [12]:
x=10

In [ ]:
print(x)        # This will print the value of x(updated value)

10

In [2]:
'''multi line comment
this is a multi line comment    
used to explain code in detail
'''

'multi line comment\nthis is a multi line comment    \nused to explain code in detail\n'

In [ ]:
# assigning one value to multiple variables in single line
a = b = c = 5
print(a, b, c)

5 5 5

In [6]:
# assigning multiple values to multiple variables in single line
a,b,c = 1,2,3
print(a,b,c)

1 2 3